<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
		
    </startup>
	<connectionStrings>
		<add name="db_connectionString"
			connectionString="Data Source=tcp:bogdanserver.database.windows.net,1433;Initial Catalog=db;Persist Security Info=False;User ID=CloudSA95db027a;Password=Password!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30; Pooling=true; Max Pool Size=10; Min Pool Size=2;"
			providerName="System.Data.SqlClient"
			/>
	</connectionStrings>
</configuration>